html, body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #e6e6e6;
  -webkit-scrollbar: none;
}
html b, html strong, body b, body strong {
  color: white;
}
html strike, body strike {
  color: #999999;
}

.zx-body {
  width: 100vw;
  height: auto;
}
.zx-container {
  width: 100%;
  max-width: 1440px;
  padding: 0px 24px;
  box-sizing: border-box;
  margin: auto;
}
.zx-section {
  width: 100%;
  height: 100vh;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.zx-section-intro {
  width: 100%;
  padding: 24px 8px;
  margin-bottom: 24px;
  font-size: 2rem;
  box-sizing: border-box;
  justify-self: flex-start;
}
.zx-terminal-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-flow: column;
  background-color: #292929;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.65);
}
.zx-terminal-head {
  width: 100%;
  background-color: #dedede;
  box-shadow: 2px 0px 2px black;
  padding: 4px 8px;
  display: flex;
  align-items: flex-start;
}
.zx-terminal-body {
  padding: 12px 8px 36px 8px;
  height: 100%;
  max-height: 620px;
  overflow: auto;
  white-space: pre-line;
  font-size: 0.9rem;
}
.zx-terminal-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.zx-terminal-btn.is-red {
  background-color: #e86c6c;
}
.zx-terminal-btn.is-green {
  background-color: #40a540;
}
.zx-terminal-btn.is-yellow {
  background-color: #dfbd55;
}
.zx-terminal-btn + .zx-terminal-btn {
  margin-left: 6px;
}
.zx-carousel {
  display: flex;
  overflow: auto;
}
.zx-carousel-item {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.65);
}
.zx-carousel-item + .zx-carousel-item {
  margin-left: 24px;
}

.zx-greeting {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  font-size: 1.8rem;
}
.zx-program {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
}
.zx-photograph {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.zx-photograph .zx-photos {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  column-gap: 4px;
  row-gap: 4px;
}
.zx-photograph .zx-photo {
  width: 100px;
  height: 0px;
  padding-top: 100px;
  position: relative;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.65);
  overflow: hidden;
}
.zx-photograph .zx-photo > img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.zx-contact {
  padding: 48px 0px 24px 0px;
  text-align: center;
}

.zx-logo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 2rem;
  padding: 12px 24px 48px 24px;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.65), transparent 85%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.zx-dynamic-background {
  transition: background-position 0.3s ease-in-out;
  background-size: 100vw 200vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(145deg, #333333, #111111);
}
.zx-dynamic-background.is-greeting {
  background-image: linear-gradient(45deg, #333, #ccc);
}
.zx-dynamic-background.is-program {
  background-image: linear-gradient(45deg, pink, skyblue);
}
.zx-dynamic-background.is-photograph {
  background-image: linear-gradient(45deg, orange, cyan);
}
.zx-dynamic-background.is-drawing {
  background-image: linear-gradient(45deg, #dc6161, #dfd92d);
}
.zx-dynamic-background.is-contact {
  background-image: linear-gradient(45deg, #77318c, #4de0e0);
}
